body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;

  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-field {
    margin-bottom: 10px;
  }
  
  .input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-field {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-field button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .disable {
    opacity: 0.5;
    pointer-events: none;
  }
  



body {
  font-family: Arial, sans-serif;
  background-color:#378CE7;
  margin: 0;
  padding: 0;
  
} 
.box-From{
  height:700px;
  width:500px;
  border: 2px solid red;
} 
 form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}  

form label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}




#text{
font-size: 1rem;
font-weight:bold ;

}
#button{
background-color: #E8751A;
border-radius: 15%;
bottom: 1px solid red;

}
#title{
text-align: center;
color:#280274;
}