@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
body {
    font-family: Arial, HalveticA, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: lightgray;
  }
  
  aside, footer, header, main {
    display: block;
  }
  img{
    height: 250px;
    width: 200px;
  }
  aside > h2 {
    color: black;
    border-radius: 5px;
    font-family: "Playball", cursive;
    font-size: 35px;
 }
  
  main {
    background-color: white;
  }
  
  header {
    background-color: black;
    background-size: 50px 50px;
    background-position: 20px 5px;
    padding-left: 70px;
    height: 80px;
  }
  
  footer {
    font-size: small;
    font-weight: bold;
    text-align:center;
    background-color: black;
    color: white;
  }
  
  main, header, footer {
    padding: 5px
  }
  
  h1 {
    font-family:"Angkor", serif;
    color: white;
    letter-spacing:1px;
  }
  
  h2 {
    color: white;
  }
  .but{
    cursor: pointer;
  }
  
  .center {
    text-align:center;
  }
  
  /* Styling for wishlist page */
  
  #content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(200px, auto));
    grid-gap: 10px;
    max-width: 800px;
    margin: 20px auto;
  }
  #content div{
    background: white;
    padding: 10px;
    border-radius: 10px;
  }
  
  .product {
    text-align:center;
    font-size: 0.9em;
    line-height: 0.8em;
    background-color: antiquewhite;
    border: 2px solid whitesmoke;
    box-shadow: 0px 0px 10px silver;
    border-radius: 10px;
  }
  .product h3 {
    margin-bottom: 0px;
    font-style: bold;
  }
  
  /* Grid layout */
  
  header { grid-area: header; }
  
  main {
    grid-area: main;
    width: 90%;
    max-width: 1300px;
    margin:auto auto;
  }
 
  
  aside {
    grid-area: aside;
  }
  
  footer { grid-area: footer; }
  
  #layout {
    background-color: #efefef;
  }
  #layout {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas:
    'header header header header header'
    'main main  main main aside'
    'footer footer footer footer footer';
  }