body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  display: flex;
  justify-content: flex-end; 
}

.cartTab {
  position: fixed;
  top: 0;
  right: -500px; 
  height: 100vh; 
  width: 500px; 
  background-color: #fff;
  padding: 20px;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 999;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
 
}

.showcart .cartTab {
  right: 0; 
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between; 
  flex-grow: 1; 
}

.image {
  flex: 0 0 100px;
  margin-right: 20px;
  overflow: hidden; 
}

.image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.name {
  flex: 1;
  font-weight: bold;
  margin-right: 20px;
}

.totalPrice {
  flex: 0 0 100px;
}

.quantity {
  flex: 0 0 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.quantity span {
  cursor: pointer;
}

.btn {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 0 5px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: larger;
  
}

button.close {
  background-color: #ccc;
  height:40px;
  width:170px;
}

button.checkOut {
  background-color: #007bff;
  color: #fff;
  height:40px;
  width:170px;
}
.ListCart{
  margin-bottom: 55%;
  padding-bottom: 10%;
}