body {
    margin: 0;
    font-family: sans-serif;
    background: #f2f2f2;
}

nav {
    background-color: #251992;
    padding: 10px;
    text-align: center;
    color: white;
    /* font-size:larger; */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; 
    margin: 20px;
}

.product {
    width: calc(25% - 40px); 
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    /* cursor: pointer; */
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
    /* transition: .4s; */
    background: #f2f2f2;
}

.product:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
    /* transform: translate(0px, -8px); */
}

img {
    width: 100%;
    max-width: 200px; 
    height: auto;
    margin: 0 auto;
    display: block;
}

h3, p, h6 {
    margin: 5px 0;
}

p {
    color: #b2bec3;
}

h6 {
    font-size: 18px;
    color: #222f3e;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 3px;
}

.buy-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.buy-button:hover {
    background-color: #2980b9;
}

@media screen and (max-width: 768px) {
    .product {
        width: calc(50% - 20px); 
    }
}

@media screen and (max-width: 480px) {
    .product {
        width: calc(100% - 20px); 
    }
}